@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

@font-face{
	font-family: 'light';
	src: url(popins/FontsFree-Net-GrabsteinSans.ttf);
}

@font-face{
	font-family: 'bold';
	src: url(popins/FontsFree-Net-Poppins-SemiBold.ttf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: 'light';
	/*border: 1px solid red;*/
}

body{
	font-size: 14px;
}

.content{
	padding-left: 150px;
	padding-right: 150px;
	color: black;
}

.bold{
	font-family: 'bold';
}


	/*<!-- ####################################### -->
	<!-- Start Navigasi -->
	<!-- ####################################### -->*/
#navbar{
	background-color: black;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'bold';
	color: white;
}

#navbar ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar ul li{
	list-style: none;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'bold';
}

.nav-left{
	float: left;
}

.nav-left .sup{
	position: relative;
	background-color: #007b63;
	bottom: 15px;
	border-radius: 4px;
	padding: 0 6px 0 6px;
}

.nav-left ul li{
	margin-right: 40px;
}

.nav-right{
	float:right;
}

.nav-right ul li{
	margin-left: 20px;
}

.nav-right #search{
	width: 300px;
	height: 30px;
}

.nav-right .form{
	width: 100%;
	position: relative;
	height: 100%;
	overflow: hidden;
}

.nav-right .form input{
	width: 100%;
	color: black;
	z-index: 2;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border: none;
	font-family: 'bold';
	background-color: white;
	outline: none;
}

.nav-right .form label{
	position: absolute;
	bottom: 0px;
	left: 0%;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid grey;
}

.nav-right .form label::after{
	content: "";
	position: absolute;
	left: 0px;
	bottom: -1px;
	height: 100%;
	width: 100%;
	border-bottom: 2px solid #ee020a;
	transform: translateX(-100%);
	transition: transform 0.7s ease;
}

.nav-right .content-name{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 100%;
	color: black;
	float: right;
}

.nav-right .content-name i{
	float: right;
}

.nav-right .form input:focus + .label-name::after,
.nav-right .form input:valid + .label-name::after{
	transform: translateX(0%);
}

	/*<!-- ####################################### -->
	<!-- End Navigasi -->
	<!-- ####################################### -->*/











	/*<!-- ####################################### -->
	<!-- Start Image Slider -->
	<!-- ####################################### -->*/
#slider{
	font-size: 11px;
	font-weight: bold;
}

#slider .label{
	padding: 20px 0 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#slider .label .l-label ul li{
	list-style: none;
	float: left;
	margin-right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#slider .label .r-label{
	background-color: grey;
	color: white;
	padding: 4px 12px 4px 12px;
	width: 220px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0 1px 8px #252525;
}

#slider .label .r-label b{
	margin-right: 10px;
}

#slider .c-box .t-box{
	display: flex;
	justify-content: space-around;
}

#slider .c-box .t-box .text-banner{
	font-size: 45px;
	font-family: 'bold';
}

#slider .c-box .b-box{
	color: white;
	background-color: black;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#slider .c-box .b-box ul li{
	list-style: none;
	float: left;
	display: flex;
	align-items: center;
	padding: 0 40px 0 40px;
}

#slider .c-box .l-box{

	height: 450px;
	width: 50%;
	background-image: url(images/women.jpg);
	background-size: 100% 450px;
	background-repeat: no-repeat;
}

#slider .c-box .l-box::after{
	content: " ";
	display: block;
	height: 100%;
	width: 100%;
	height: 450px;
	background-color: rgba(0,0,0, .5);
	transform: translateY(-100%);
}

#slider .c-box .l-box .text-tlc{
	padding: 50px;
	height: 350px;
}

#slider .c-box .r-box{
	height: 450px;
	width: 50%;
	background-image: url(images/men.jpg);
	background-size: 100% 450px;
	background-repeat: no-repeat;
}