*{
	margin: 0;
	padding: 0;
	border: none;
}

body {
    background: url('images/main_bg.gif');
}

.content{
	margin: 0 150px 0 150px;
}

#header{
	background-image: url(images/steve-jobs-face.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: 300px;
}

.img-header{
	background-image: url(images/logo-apple1.jpg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 300px 300px;
	width: 400px;
	height: 250px;
}

.nav{
	background-color: black;
	width: 100%;
	height: 50px;
}

.nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav ul li{
	list-style:none;
	float: left;
	padding: 0 70px 0 70px;
}

.nav ul li a{
	text-decoration: none;
	color: white;
}

#content{
	display: flex;
}

#content .left{
	margin: 20px 20px 20px 0;
}

#content .right{
	margin: 20px 0 20px 0;
	background-color: white;
	padding: 20px;
}

#content .left .row{
	margin: 0 0 20px 0;
	display: flex;
	background-color: white;
}

#content .left .row .foto-profile{
	position: relative;
	top: 3px;
}

#content .left .row .desk{
	margin: 10px;
	font-size: 12px;
}

#content .left .tag-head{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	height: 25px;
	color: white;
	justify-content: center;
	align-content: center;
}

#content .right .p{
	text-indent: 40px;
	padding-bottom: 20px;
}

#content .right .pdot{
	border-bottom: 1px dotted black;
}

#content .right .ipad, .ipod, .iphone{
	float: left;
	padding-right: 10px;
}

#footer{
	padding-bottom: 30px;
}